/* Functional CSS classes, necessary for non-javascript graceful degradation. */
.form-type-missplete-select {
  display: block;
}
.form-type-missplete-input {
  display: none;
}

/* Dropdown style. */
.miss-plete {
  position: relative;
}
.miss-plete > ul {
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  border: 1px solid #333;
  background-color: white;
  z-index: 10000;
}
.miss-plete > ul > li {
  padding: .2em .5em;
}
.miss-plete > ul > li.highlight {
  cursor: pointer;
  background-color: #0074bd;
  color: #ffffff;
}
