{#
/**
 * @file
 * Default theme implementation for a Missplete element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_missplete()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <div{{ attributes.removeAttribute(['name']) }}>
    {{ element.select }}
    {{ element.input }}
  </div>
{% endspaceless %}
